.button {
    min-width: 160px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--color-yellow);
    color: #000;
}

.react-dadata__input {
    padding-left: 15px;
    width: 360px;
    height: 40px;
    background-color: var(--color-white);
    color: #232323;
    border: 1px solid var(--color-underline);
    border-radius: 10px;
    outline: none;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.react-dadata__input:focus {
    box-shadow: none;
    border: 1px solid var(--color-black);
    outline: none;
}

.form__input {
    position: relative;
}

.react-dadata__suggestions {
    position: absolute;
    top: 40px;
}

.form__input-phone {
    padding-left: 18px !important;
    width: 360px !important;
    height: 40px !important;
    background-color: var(--color-white) !important;
    color: #232323 !important;
    border: 1px solid var(--color-underline) !important;
    border-radius: 10px !important;
    outline: none !important;
    font-family: 'Montserrat' !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
}

.form__input-phone-button {
    display: none !important;
}

.input__container {
    margin: 35px auto 21px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__container {
    padding: 37px 30px 44px;
    width: 420px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    width: 338px;
    margin: 0 auto 21px;
}

.form__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 359px;
}

.form__text {
    align-self: start;
    width: 310px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form__text_agreement {
    width: 359px;
    margin-top: 33px;
}

.form__agreement-text-link {
    color: var(--color-blue);
}

.form__textarea {
    max-width: 360px;
    color: #232323;
    border: 1px solid var(--color-underline);
    border-radius: 10px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 15px;
}

.form__add-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.button__file {
    align-self: flex-start;
    position: relative;
    min-width: 160px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 24px;
    background-color: var(--color-btn-file);
    color: #FFFFFF;
}

.form__add-file-input {
    cursor: pointer;
}

.form__selected {
    display: flex;
    flex-wrap: wrap;
}

.form__added {
    width: 100%;
    margin: 17px auto 23px;
}

.form__added-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 300px;
}

.form__delete-file {
    margin-left: 10px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.form__delete-file:hover {
    background: none;
}

.form__size_active {
    display: block;
    color: red;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 230px;
    align-self: flex-start;
    text-align: left;
}

.form__size {
    display: none;
}

@media screen and (max-width: 1439px) {
    .form__container {
        width: 380px;
        padding: 43px 27px 52px;
    }

    .react-dadata__input {
        width: 325px;
        margin: 0;
    }
    
    .form__textarea {
        width: 325px;
    }

    .form__input-phone {
        width: 325px !important;
    }

    .form__text_agreement {
        width: 325px;
        margin-top: 16px;
    }

    .input__container {
        margin: 19px auto 16px;
        gap: 8px;
    }

    .form__subtitle {
        width: 315px;
    }

    .form__title {
        width: 315px;
        margin-bottom: 17px;
    }
    
}

@media screen and (max-width: 1024px) {
    .form__container {
        width: 300px;
        padding: 25px 21px 44px;
    }

    .react-dadata__input {
        width: 257px;
        margin: 0;
    }
    
    .form__textarea {
        width: 257px;
    }

    .form__input-phone {
        width: 257px !important;
    }

    .form__text_agreement {
        width: 257px;
        margin-top: 16px;
    }

    .input__container {
        margin: 19px auto 16px;
        gap: 8px;
    }

    .form__subtitle {
        width: 257px;
        font-size: 14px;
        line-height: 17px;
    }

    .form__title {
        width: 257px;
        margin-bottom: 17px;
    }

    .form__text {
        width: 257px;
    }

    .form__added-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        max-width: 220px;
    }
    
}