.doubts__header {
    background-color: #F9F9F9;
    padding: 64px 0 59px;
}

.doubts__header-subtitle {
    margin: 24px auto 32px;
}

.doubts {
    padding: 120px 0;
}

.doubts__container {
    width: 1160px;
    margin: 0 auto;
}

.doubts__column {
    position: relative;
}

.doubts__absolute-text {
    text-align: left;
}

.doubts__column .doubts__absolute-text:nth-child(2) {
    position: absolute;
    width: 200px;
    top: 0;
    left: 100px;
}