.footer {
    background-color: var(--color-blue);
    padding-bottom: 61px;
}

.footer__two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__container {
    width: 1160px;
    margin: 0 auto;
    padding-top: 102px;
    padding-bottom: 62px;
    color: var(--color-white);
    text-align: left;
    border-bottom: 1px solid #139DC8;
}

.footer__block {
    width: 660px;
    height: 378px;
    background-color: #139DC8;
}

.footer__title {
    color: var(--color-white);
}

.footer__text {
    width: 304px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.footer__number {
    color: var(--color-white);
    margin-bottom: 8px;
}

.footer__email {
    color: var(--color-white);
    margin-bottom: 32px;
}

.footer__link {
    width: 40px;
    height: 40px;
}

.footer__copyright-container {
    width: 1160px;
    margin: 0 auto;
    text-align: left;
}

.footer__copyright {
    color: var(--color-white);
    margin: 32px auto 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 1439px) {
    .footer__block {
        width: 543px;
        margin-top: 28px;
    }

    .footer__container {
        width: 940px;
        padding-top: 74px;
        padding-bottom: 50px;
    }

    .footer__copyright-container {
        width: 940px;
    }

    .footer__text {
        margin-bottom: 35px;
    }

    .footer__number {
        margin-bottom: 15px;
    }

    .footer__text {
        margin-top: 42px;
        margin-bottom: 32px;
    }
    
    
}

@media screen and (max-width: 959px) {
    .footer__container {
        width: 300px;
        text-align: center;
        padding: 47px auto 64px;
    }

    .footer__copyright-container, .footer__text {
        width: 300px;
        text-align: center;
    }

    .footer__two-column {
        flex-direction: column;
    }

    .footer__block {
        width: 300px;
        height: 300px;
        margin-top: 10px;
    }

    .footer__text {
        margin-top: 24px;
        margin-bottom: 35px;
    }
    
    .footer__number {
        margin-bottom: 23px;
    }

    .footer__email {
        margin-bottom: 43px;
    }
}