.manager {
    margin: 120px auto;
}

.manager__container {
    width: 1160px;
    margin: 0 auto;
}

.manager__button-container {
    width: 160px;
    margin: 0 auto;
    align-self: center;
}

.manager__title {
    width: 652px;
    margin: 0 auto;
}

.manager__man {
    list-style: none;
    display: flex;
    align-items: center;
    min-width: 400px;
    height: 200px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    overflow: hidden;
    padding: 40px;
}

.manager__photo {
    min-width: 120px;
    height: 120px;
    border-radius: 60px;
}

.manager__about {
    text-align: left;
    margin-left: 24px;
}

.manager__managers {
    display: flex;
    gap: 40px;
    flex-direction: row;
    padding: 64px 0;
    overflow: auto;
}

.manager__works {
    height: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.manager__work {
    display: flex;
}

.manager__text {
    text-align: left;
    margin-left: 24px;
    width: 460px;
}

.manager__desc {
    display: flex;
    margin-bottom: 65px;
}