.header__container {
    width: 1375px;
    margin: 48px auto 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__modal {
    width: 181px;
    position: absolute;
    right: 0;
    top: 44px;
    padding: 20px 24px;
    background-color: var(--color-blue);
}

.header__links {
    display: flex;
    gap: 20px;
}

.header__link {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-black);
}

.header__link_phone {
    margin-left: 45px;
}

.header__link_modal {
    color: var(--color-white);
    font-size: 18px;
    line-height: 165%;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__image {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

@media screen and (max-width: 1430px) {
    .header__container {
        width: 721px;
        margin: 37px auto 78px;
    }

    .header__links {
        gap: 27px;
    }
    
    .header__link {
        height: 40px;
    }

    
    .header__phone {
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        margin-left: 9px;
    }
    
    .header__contacts {
        gap: 0;
    }
    
    .header__link_wa {
        margin-right: 16px;
    }
}

@media screen and (max-width: 768px) {
    .header__container {
        width: 343px;
    }
        
    .header__image {
        width: 30px;
        height: 30px;
    }

    .header__logo {
        width: 157px;
        height: 32px;
    }

    .header__modal-button:hover {
        background: none;
    }

    .header__links {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .header__link {
        height: 30px;
    }
}