.header__container {
    width: 1160px;
    margin: 20px auto 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid var(--color-underline);
    padding-bottom: 33px;
}

.header__logo-and-desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__description {
    justify-self: flex-start;
    margin-left: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 222px;
    text-align: start;
}

.header__modal {
    width: 181px;
    position: absolute;
    right: 0;
    top: 44px;
    padding: 20px 24px;
    background-color: var(--color-blue);
}

.header__link {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-black);
}

.header__link_phone {
    margin-left: 45px;
    margin-right: 10px;
}

.header__link_modal {
    color: var(--color-white);
    font-size: 18px;
    line-height: 165%;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__image {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}



    /* .header__links {
        gap: 27px;
    }
    
    .header__link {
        height: 40px;
    }

    
    .header__phone {
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;
        margin-left: 9px;
    }
    
    .header__contacts {
        gap: 0;
    }
    
    .header__link_wa {
        margin-right: 16px;
    } */


@media screen and (max-width: 768px) {
    .header__container {
        width: 300px;
        flex-direction: column;
        padding-bottom: 24px;
        margin-bottom: 40px;
    }

    .header__logo-and-desc {
        flex-direction: column;
    }
        
    .header__logo {
        width: 144px;
        height: 32px;
    }

    .header__description {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .header__link_phone {
        margin-left: 32px;
        margin-right: 0;
    }

    .header__contacts {
        margin-bottom: 24px;
    }
    
}