.header__container {
    width: 1160px;
    margin: 20px auto 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 2px solid var(--color-underline);
    padding-bottom: 24px;
}

.header__logo-and-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 388px;
}

.header__logo {
    width: 186px;
    height: 40px;
}

.header__description {
    margin-left: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 190px;
    text-align: start;
}

.header__modal {
    width: 181px;
    position: absolute;
    right: 0;
    top: 44px;
    padding: 20px 24px;
    background-color: var(--color-blue);
}

.header__link {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--color-black);
}

.header__tg-color:hover {
    fill: #028FD3;
}

.header__wa-color:hover {
    fill: #18C13A;
}

.header__link_phone {
    display: flex;
    align-items: center;
    margin-right: 67px;
}

.header__link_modal {
    color: var(--color-white);
    font-size: 18px;
    line-height: 165%;
}

.header__contacts {
    width: 322px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button {
    width: 170px;
}

.header__button-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.header__mes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

@media screen and (max-width: 1439px) {
.header__container {
    width: 940px;
}

.header__contacts {
    gap: 24px;
}

.header__link_phone {
    margin: 0;
}
}

@media screen and (max-width: 959px) {
    .header__container {
        width: 300px;
        flex-direction: column;
        padding-bottom: 24px;
        margin-bottom: 40px;
    }

    .header__contacts {
        width: 280px;
    }

    .header__logo-and-desc {
        width: 280px;
        flex-direction: column;
    }
        
    .header__logo {
        width: 144px;
        height: 32px;
    }

    .header__description {
        margin-top: 16px;
        margin-bottom: 24px;
    }

    .header__link_phone {
        margin-right: 0;
    }

    .header__contacts {
        margin-bottom: 24px;
    }
    
}