.feedback {
    margin-top: 120px;
}

.feedback__container {
    width: 1290px;
    margin: 0 auto;
}

.feedback__subtitle  {
    margin: 24px auto 64px;
    width: 1039px;
}

@media screen and (max-width: 1439px) {
    .feedback__container {
        width: 940px;
    }

    .feedback__subtitle  {
        width: 940px;
    }
}

@media screen and (max-width: 959px) {
    .feedback__container {
        width: 100%;
    }
    
    .feedback {
        margin-top: 80px;
    }

    .feedback__subtitle  {
        width: 300px;
    }

}