.individual {
    margin-bottom: 150px;
}

.individual__item {
    display: flex;
    border: 1px solid #4C4C4C;
    border-radius: 20px;
    padding: 44px 40px 36px 40px; 
    width: 960px;
    margin: 0 auto;
    margin-bottom: -30px;
}

.individual__column {
    text-align: left;
    width: 440px;
}

.individual__subtitle {
    margin: 16px auto 64px;
}

.individual__col-title {
    margin-top: -8px;
    width: 440px;
    padding-bottom: 16px;
    border-bottom: 2px solid #757575;
}

.individual__col-subtitle {
    margin-top: 16px;
    margin-bottom: 8px;
}

.individual__col-text {
    padding-bottom: 15px;
    border-bottom: 1px solid #D9D9D9;
}

.individual__col-text:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.individual__image {
    width: 400px;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.individual__slider {
    width: 90%;
    margin: 0 auto;
}

/* .custom {
    bottom: 45px;
  } */
  /* .custom li {
    width: 10px;
  } */
  /* .custom li button::before {
    font-size: 12px;
    color: #d9d9d9;
    opacity: 0.8;
  }
  .custom :global(li.slick-active) button:before {
    opacity: 0.3;
    color: #d9d9d9;
  } */

@media screen and (max-width: 1439px) {
    .individual__container {
        width: 940px;
        margin: 0 auto;
    }

    .individual__subtitle {
        margin: 18px auto 76px;
    }

    .individual__image {
        width: 350px;
        height: 350px;
    }

    .individual__item {
        margin: 0;
        padding: 43px 34px; 
        width: 824px;
        gap: 20px;
    }

    .individual__column {
        width: auto;
    }

    .individual__col-subtitle {
        margin-bottom: 16px;
    }

    .individual__col-title {
        width: 377px;
    }
    
    .individual__col-text {
        width: 377px;
    }

    .owl-stage, .owl-stage-outer {
        height: 595px;
    }

    .owl-dots {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 959px) {
    .individual__container {
        width: 100%;
    }
    
    .individual__slider {
        width: 300px;
    }

    .individual__image {
        width: 280px;
        height: 280px;
    }

    .individual__column {
        width: 280px;
    }

    .individual__col-title {
        width: 280px;
        text-align: center;
    }

    .individual__item {
       flex-direction: column;
        padding: 9px 10px 27px; 
        width: 300px;
        margin: 0 auto;
    }

    .individual__col-title, .individual__col-text{
        width: 280px;
        margin: 0;
    }
    
    .slick-slide, .slick-active, .slick-current {
        width: 300px;
    }

}

