.exp {
    margin-bottom: 120px;
}

.exp__container {
    width: 1145px;
    margin: 0 auto;
}

.exp__subtitle {
    margin: 23px auto 90px;
}

.exp__grid-container {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    column-gap: 43px;
}

.exp__grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exp__text {
    margin-top: 19px;
    text-align: left;
}

.exp__bottom-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 120px auto 48px;
}

.exp__bottom-title_blue {
    color: var(--color-blue);
}

.bottom__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (max-width: 1439px) {
    .exp__container {
        width: 940px;
    }

    .exp__grid-container {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 80x;
        column-gap: 22px;
        margin: 0;
    }

    .exp__subtitle {
        margin: 23px auto 37px;
        font-size: 18px;
        line-height: 22px
    }
    
}

@media screen and (max-width: 959px) {
    .exp__container {
        width: 300px;
        margin: 80px auto;
    }

    .exp__grid-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60x;
        column-gap: 20px;
        margin: 0;
    }

    .exp__subtitle {
        margin: 23px auto 37px;
        font-size: 18px;
        line-height: 22px
    }

    .exp__text {
        margin-top: 16px;
        width: 140px;
        text-align: center;
    }

    .exp__grid-item {
        align-items: center;
    }

    .exp__bottom-title {
        margin: 60px auto 40px;
    }
    
}