@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-grey: #797979;
    --color-underline: #D9D9D9;
    --color-black: #4D4D4D;
    --color-blue: #2FBAE5;
    --color-white: #FFFFFF;
    --color-yellow: #FFD24D;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    text-transform: uppercase;
    color: #4C4C4C;
}

h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}

h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

body, button {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* button:hover {
    background-color: #29ABD3;
    color: #ffffff;
}

button:active {
    background-color: #2FBAE5;
    box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.15);
} */
